<!--The content below is only a placeholder and can be replaced.-->

<body data-gr-c-s-loaded="true" cz-shortcut-listen="true">
  <form class="form-signin">
    
    <div class="text-center mb-4">
        
    
      <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1>
      <p>
        You can create customize avatar from person name, company name etc. 
        
        
      </p>
      <p>Examples: <code>Cengiz Gümüs</code> , <code>Visual Code</code></p>
      <p></p>
        <avatar-text [text]="getText()"></avatar-text>
    </div>
    <div class="form-label-group">
        <input
          type="text"
          class="form-control"
          id="exampletext"
          
          (input)="exampleText = $event.target.value"
          placeholder="Enter Example Text..."
        />
        <label for="inputExample">Example Text</label>
      </div>
   

    

    
    
    <p class="mt-5 mb-3 text-muted text-center">© 2019</p>
  </form>

 

  <router-outlet></router-outlet>
</body>
